body {
  background-image: url(arcade.png);
}
#wrapper {
  margin: 1em auto;
  width: 960px;
  border: 5px solid black;
  background-color: #ffffff;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
nav {
  grid-column: span 6;
}
h1 {
  background-color: purple;
  font-family: helvetica;
  font-weight: normal;
  color: white;
  padding: 20px;
  margin: 0;
  border-bottom: 3px solid black;
  grid-column: span 6;
}
nav ul {
  list-style-type: none;
  /* bullet points */
  margin: 0;
  padding: 0;
}

nav li {
  background-color: purple;
  font-family: helvetica;
  text-align: center;
  border: 3px solid black;
  margin: 20px;
  width: 150px;
  display: inline-block;

}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}
nav li a:hover {
  background-color: #112cf7;
}

.float {
  width: 350px;
  float: right;
  margin: 10px;
}

h2 {
  font-family: georgia;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  margin-top: 0;
  grid-column: span 4;
}
main {
  font-family: georgia;
  margin: 20px;
  grid-column: span 4;
}
main a {
  font-family: georgia;
  text-decoration: none;
  color: green;
  font-weight: bold;
}
#side{
  background-color: purple;
  color: white;
  margin: 20px;
  padding: 10px;
  grid-column: span 2;
}
#side h2 {
  border-bottom: 3px solid white;
}
#italics {
  font-style: italic;
}
footer {
  margin: 0;
  padding: 20px;
  font-weight: bold;
  background-color: purple;
  border-top: 3px solid black;
  grid-column: span 6;
}
